In [ ]:
# SYD DAT 3 Lab 1 - Git and Markdown

##Homework:

#### Setup
* Resolve any installation issues before next class. 
    - DONE -
* Make sure you have a github profile and created a repo called "SYD_DAT_4"
    - DONE -
* Clone the class repo (this one!)
    - DONE - 
* Review this [code](../labs/Week 1/00_python_refresher.py) for a recap of some Python basics.
    - DONE -

#### Communication
* Read [Analyzing the Analyzers](http://cdn.oreillystatic.com/oreilly/radarreport/0636920029014/Analyzing_the_Analyzers.pdf) for a useful look at the different types of data scientists. Write down 5 key points you took away from the article

**Analysing the Analysers:**
1) The article tackles the recent phenomena that is “Data Science”; specifically, offering a view on the type of “Data Scientist” currently in the work force. The problem with individuals identifying themselves as “Data Scientists” is that the term is now used to describe a try broad field which encapsulates a large variety of skills and expertise. It would be presumptuous and overall inefficient for anyone (including both employee and employer) to assume anyone could possess all these skills at once. This article offers a view on 4 “main” types of “Data Scientists”.

2) Data Scientists should possess a set of essential skills. The article broadly categorises these in 22 generic skills. It is important to note that different types of “Data Scientists” will posses these skills in different quantities and to varying degrees of expertise (e.g. a Data Businessperson may possess more Business knowledge compared to a Data Developer but will only have a limited knowledge in programming compared to a Data Developer).

3) Broadly speaking:
	♣	Data Businesspeople: Focused more on the business side of an organisation and most likely to be managing people and teams. Data Businesspeople will also have technical skills, but unlike their other Data Scientist counterparts, may have had their careers deviate from the data/programming/maths intensive work towards more leadership, management or strategy roles. Data Businesspeople, in my opinion, will most likely be elected to manage projects or teams in this field. They have enough technical skills to manage projects and processes end-to-end and can communicate important messages and direction to senior management but not necessarily enough programming skills to complete the projects themselves.
	♣	Data Creatives:  Described as a jack-of-all-trades, Data Creatives are most likely to have the most well balanced set of skill sets, able to complete a data science project end-to-end. In my opinion, the quintessential jack-of-all-trades employee should not be a master of all skills but adequate all fields in Data Science and I believe are a good fit for any organisational looking for a data “analyser” (but organisation may not necessarily know what they want!). 
	♣	Data Developer: The coders and programmer orientated lot of the Data Scientist group. Data developers will heavily focus on the technical side of thing and least likely to manage or consult themselves. They are more likely to be fluent in all data and programming languages and understands the advantages and disadvantages of all.
	♣	Data Researchers: More theoretical and more likely to have stemmed their careers from a academic position, Data Researchers can provide an organisation with knowledge and a deep understanding of complex data concepts. They can be invaluable in helping organisations develop data, analytical and modelling tools as any production model often requires proof-of-concept with a strong theoretical component.

4) The article suggests that the most successful data scientists are those with substantial and deep expertise in at least one aspect of data science, following the thinking proposed in the 1990s known as “T-shaped skills” which represents the a general understand of all topics/skills but great expertise in one area. Survey evidence does show there is a trend towards this line of thinking.

5) Given the breadth on the expectation on data scientists, it is clear that any organisation will benefit from a small team of data scientists that utilise skills from all types of data scientist.


* Read about some [Markdown Techniques](http://daringfireball.net/projects/markdown/syntax)
    - DONE -
    
* Write a summary of 2 chapters of [The Data Science Handbook](http://www.thedatasciencehandbook.com/) in Markdown and submit a pull request in the Lab Directory

**Data Science Handbook Summary**
♣	 Opportunities are important in Data Science career paths but what is most important is the ability to prove yourself. Being uni-dimensional in your skills and field will limit your ability to solve problems. Problems are often defined and solved using a variety of skills and experience.
♣	 Collabration and team skills are cruicial in succeeding as a data scientists. 
♣	 The increasing trend is clear. Data is becoming a more and more important part of any business in any industry. The ability to be versatile and adapt to the benefits of utilising data is cruicial.
♣	 Data is an excellent way to open up and be involved in something that you may not have been able to be part of.

#### Programming
* Complete the lab from class and the additional Exercise below

#### Course Project
* Come up with 5 different ideas for your course project. For each one list:
  * Overview of your idea
  * What data you will use
  * What the outcome is that you are trying to achieve
  * Any ideas of modelling techniques it may involve

**Idea 1: MMA fight outcome predictions**
♣	Overview of your idea- MMA is one of the fastest growing sports in the world. Fighters in this 1 on 1 sport comes from a variety of combat sport backgrounds, shapes and sizes. Fights are split into weight divisions but you will often see variations amongst fighters in the same division for example – height, arm reach, experience in different types of combat sports/martial arts, win/loss record, age etc. 
♣	What data you will use- 
o	Win loss data is available from sherdog/fightmetric which shows you the outcome of each fight in UFC history. UFC is one of the biggest brands of MMA.
o	Fighter characteristics are available from sherdog/Wikipedia which describes a fighters height, weight, experience etc…
♣	What the outcome is that you are trying to achieve- Project attempts to predict a fight outcome based on a fighter’s characteristics and experience in the sport. Project should also address difference characteristics that can predict HOW the fight is won (e.g. are boxers better at knocking out an opponent or are more experienced/older fighters better at submitting an opponent)
♣	Any ideas of modelling techniques it may involve- Outcome is Win/Loss/Draw so logistic regression. Any other classification modelling techniques can be used as well. There are several ways we can tackle this problem e.g. do we look at the difference between fighters and model the outcome based on the difference or just look at the absolute characteristics of any fighter.

**Idea 2: ASX predicting short term price movements in stocks from macroeconomic variables and other variables**
♣	Overview of your idea- Predicting the stock market has always been a hotly discussed topic, with correct predictions able to make the trader a fortune. Short term stock market movements (i.e. monthly/daily movements) can be due to many macroeconomic factors such as cash rates, major financial/economic events like job cuts etc… Some industries will also be more sensitive to certain announcements/events (e.g. resource companies will be more sensitive to oil prices compared). Looking at the systemic shocks in the stock market is also important, i.e. does a drop in bank’s stock price affect the stock prices of big pharmaceutical companies?
♣	What data you will use-
o	ASX publish stock price data that can be used as an outcome variable
o	Cash rates, interest rates, unemployment, oil prices
o	Other variables that can cause a disturbance in our society should be used as well e.g. weather patterns, social unrest
♣	What the outcome is that you are trying to achieve- Project attempts to predict short-term price movements in ASX stocks based on macroeconomic variables and/or other significant variables that affect our society.
♣	Any ideas of modeling techniques it may involve- Depends on the outcome. May use a non-linear regression technique if price is the predicted outcome. Not sure if linear regression will be appropriate

**Idea 3: Train movements and prediction on the best time**
♣	Overview of your idea- Sydney Trains are notorious for being horribly late, to an extent where scheduled times are meaningless. Peak hour traffic however can be predicted so best times to travel can be predicted dependent on which Sydney line you take. External factors also affect timetable vs. actual time e.g. when it rains, Sydney Trains break. 
♣	What data you will use- Sydney Trains publishes train timetable, fare, trip data. On-time data should also be available to show whether certain trains are ontime/late.
♣	What the outcome is that you are trying achieve- Project attempts to map out on each line, when are the peak times and predict when it is the best time to travel. Would also like to assess what external factors affect Sydney Train timetables and provide recommendations if these external factors are considered.
♣	Any ideas of modelling techniques it may involve- I’m considering taking both an “unsupervised learning” and “supervised learning” approach, depending on the data available. Data analyses and clustering analyses will help infer what sort of predictive model I want to build (if any). E.g. may consider banding outcomes (morning peak, morning non-peak, lunch etc…) and using that as my outcome – in which case some sort of classification technique can be used.

**Idea 4: Out-of-cycle Interest Rate Hikes**
♣	Overview of your idea- Interest rate increases/decreases are a contentious topic for anyone who has debt. In an ideal world, the Reserve Bank of Australia sets the national wide “Cash-Rate” which the Banks use to set fixed and variables interest rates for retail products. Topical issue relating to this monetary mechanism is when Banks increase/decrease interest rates in the absence of a RBA cash rate movement (or commonly known as out-of-cycle rate movements). Project attempts to see what sort of factors can predict potential out of cycle movements from environmental, economical, social and other factors
♣	What data you will use- Banks publish interest rate data. RBA publishes cash rates back to the 1990s. Economic, labor, population etc… data can be obtained from ABS. 
♣	What the outcome is that you are trying to achieve- Project will predict what conditions will likely to increase a interest rate increase/decrease that occurs out of cycle. Data analyses will need to look at data at a national level as well as state level. We should also investigate the reasons why RBA will lift/decrease cash rates to pin-point potential reasons why banks may do out-of-cycle movements. Profit and revenue data should also be considered as that may dictate why Banks will require to price differently, independely of funding.
♣	Any ideas of modelling techniques it may involve- Depends on how the data is transformed, we can use classification modelling techniques to determine the probability of a rate hike in any given time period.

**Idea 5: Out-of-cycle Interest Rate Hikes**
♣	Overview of your idea- Uber Surge Pricing has been through some bad press lately, for offering taxi-ing services are inflated prices. Uber Surge Pricing is based on demand and supply of available Ubers in your vicinity. The project attempts to predict when surge pricing on which routes will be the greatest.
♣	What data you will use- FiveThirtyEight has publicly available data on uber trips, pricing in New York City.
♣	What the outcome is that you are trying to achieve- Predict on specific routes when surge pricing is most likely to occur.
♣	Any ideas of modelling techniques it may involve- Linear regression or a GLM technique depending on the data available and its relationship to the outcome variable.

**Instructions: copy this file and append your name in the filename, e.g. Homework1_ian_hansel.ipynb.
Then commit this in your local repository, push it to your github account and create a pull request so I can see your work. Remeber if you get stuck to look at the slides going over Fork, Clone, Commit, Push and Pull request.**

## Exercise Four - Movie Lens Data

In [13]:
# for each occupation in 'users', count the number of occurrences
import pandas as pd
pd.read_table('u.user')
user_cols = ['user_id', 'age', 'gender', 'occupation', 'zip_code']
users = pd.read_table('u.user', sep='|', header=None, names=user_cols, index_col='user_id', dtype={'zip_code':str})
users.occupation.value_counts()

student          196
other            105
educator          95
administrator     79
engineer          67
programmer        66
librarian         51
writer            45
executive         32
scientist         31
artist            28
technician        27
marketing         26
entertainment     18
healthcare        16
retired           14
salesman          12
lawyer            12
none               9
homemaker          7
doctor             7
Name: occupation, dtype: int64

In [28]:
# for each occupation, calculate the mean age
byoccupation = users.groupby('occupation')
byoccupation['age'].mean()

occupation
administrator    38.746835
artist           31.392857
doctor           43.571429
educator         42.010526
engineer         36.388060
entertainment    29.222222
executive        38.718750
healthcare       41.562500
homemaker        32.571429
lawyer           36.750000
librarian        40.000000
marketing        37.615385
none             26.555556
other            34.523810
programmer       33.121212
retired          63.071429
salesman         35.666667
scientist        35.548387
student          22.081633
technician       33.148148
writer           36.311111
Name: age, dtype: float64

In [30]:
# for each occupation, calculate the minimum and maximum ages
byoccupation['age'].agg([min,max])

               min  max
occupation
administrator   21   70
artist          19   48
doctor          28   64
educator        23   63
engineer        22   70
entertainment   15   50
executive       22   69
healthcare      22   62
homemaker       20   50
lawyer          21   53
librarian       23   69
marketing       24   55
none            11   55
other           13   64
programmer      20   63
retired         51   73
salesman        18   66
scientist       23   55
student          7   42
technician      21   55
writer          18   60

In [36]:
# for each combination of occupation and gender, calculate the mean age
byoccupation_gender = users.groupby(['occupation','gender'])
byoccupation_gender['age'].mean()

occupation     gender
administrator  F         40.638889
               M         37.162791
artist         F         30.307692
               M         32.333333
doctor         M         43.571429
educator       F         39.115385
               M         43.101449
engineer       F         29.500000
               M         36.600000
entertainment  F         31.000000
               M         29.000000
executive      F         44.000000
               M         38.172414
healthcare     F         39.818182
               M         45.400000
homemaker      F         34.166667
               M         23.000000
lawyer         F         39.500000
               M         36.200000
librarian      F         40.000000
               M         40.000000
marketing      F         37.200000
               M         37.875000
none           F         36.500000
               M         18.600000
other          F         35.472222
               M         34.028986
programmer     F         32.166667
               M         33.216667
retired        F         70.000000
               M         62.538462
salesman       F         27.000000
               M         38.555556
scientist      F         28.333333
               M         36.321429
student        F         20.750000
               M         22.669118
technician     F         38.000000
               M         32.961538
writer         F         37.631579
               M         35.346154
Name: age, dtype: float64

In [37]:
# randomly sample a DataFrame
users.sample(n=10)

         age gender     occupation zip_code
user_id
206       14      F        student    53115
99        20      M        student    63129
184       37      M      librarian    76013
940       32      M  administrator    02215
128       24      F      marketing    20009
533       43      M      librarian    02324
113       47      M      executive    95032
495       29      M       engineer    03052
649       20      M        student    39762
594       46      M       educator    M4J2K

In [ ]:
# detect duplicate users
users.duplicated('user_id')